.k-panelbar>.k-item>.k-link, .k-panelbar>.k-panelbar-header>.k-link {
  color: #5E6C84 !important;
}

.k-panelbar>.k-item>.k-link.k-selected, .k-panelbar>.k-panelbar-header>.k-link.k-selected {
  background-color: #EBECF0 !important;
  color: #5E6C84 !important;
}

.k-floating-label-container > .k-label, .k-floating-label-container.k-focus > .k-label {
  top: 10px !important;
  left: 10px !important;
  background-color: white;
  line-height: 15px !important;
  transform: scale(1);
}

.k-daterangepicker > label > span:first-child {
    top: 9px;
    left: 10px;
    position: relative;
    z-index: 1;
    background-color: white !important;
    line-height: 15px !important;
}

/* 
if want to transparent label of dropdown
.link-issue-type-wrapper > .k-floating-label-container > .k-label,
.link-issue-type-wrapper > .k-floating-label-container.k-focus > .k-label {
  top: 10px !important;
  left: 10px !important;
  background-color: transparent;
  transform: scale(1);
} */