.treelist-toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.treelist-toolbar>* {
    margin-right: 1em;
}

.display-center {
    display: flex;
    align-items: center;
}

/* not work due to KendoUI defined class
.display-center .k-multiselect.k-input.k-input-md.k-rounded-md.k-input-solid {
    width: none !important; 
} */