.filter-item {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.delete-button {
    margin-left: 5px;
}

.filter-new-textbox{
    padding: 5px;
}

.filter-new-button{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.close-button-dropdown {
    text-align: center;
    margin: 0.5em;
}

.item-action-wrapper {
    display: flex;
    flex-direction: row;
}

.item-text > div > div > .k-list-item-text {
    width: 7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.icon-padding {
    padding: 12px !important;
}