.dynamic-columns {
    margin: 15px;
}

.treelist-wrapper {
    width: calc(100vw - 50px);
    max-height: 100%;
    overflow: auto;
}

td[aria-colindex="1"][role="gridcell"]:hover {
    cursor: move;
}

.k-checkbox {
    margin-left: 5px !important;
}

td {
    border-bottom: 1px solid #E8E8E8 !important;
}